## Basic FOR loop

In [22]:
n = int(input())
for i in range (n+1): ## start , stop, stryde 
    print(i)

4
0
1
2
3
4

In [16]:
n = "ABCDE"
for i in n:
    print(i)

A
B
C
D
E

In [29]:
## PRINT FROM N TO 1
n = int(input())
for i in range(n,0,-1):          ## start , stop, stryde - 3 arguments
    print(i)                      ##start , stop , 1 -default - 2 arguments
                              ## 0 , stop , 1 - 1 argument

5
5
4
3
2
1

In [4]:
a = int(input())
b = int(input())
for i in range (a,b+1,1):
    print(i)

4
15
4
5
6
7
8
9
10
11
12
13
14
15

In [2]:
a = int(input())
b = int(input())
for i in range (a,b+1,1):
    if i % 5 == 0:
        print(i)

5
30
5
10
15
20
25
30

In [11]:
a = int(input())
b = int(input())
if a % 3 == 0:
    s = a
elif a % 3 == 2:
    s = a + 1
else:
    s = a+2
for i in range(s,b+1,3):
    print(i)

4
55
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54

In [10]:
a = 5
print(a % 3)

2

## Prime

In [26]:
a = int(input())
flag = False
for i in range(2,a,1):
    if a % i == 0:
        flag = True
if flag:
    print("not prime")
else:
    print("Prime")

17
Prime

## pattern

In [48]:
n = int(input())
for i in range (1,n+1,1):
    for j in range(n-i):
        print(" ", end = "")
    for s in range(i,2*i,1):       #2i
        print(s , end = "")
    for h in range(2*i-2,i-1,-1):   #2i-2 ,i-1 here i-1 defines to (n)4-1=3 but though it decrements,i becomes 5 increment is 3 
        print(h, end ="")
    print()

4
   1
  232
 34543
4567654

## Break

In [6]:
for i in range(1,9,1):
    if i == 5:
        break
    print(i)

1
2
3
4

In [5]:
n = int(input())
flag = False
for i in range(2,n,1):
    if n % i == 0:
        flag = True
        break
if flag:
    print("not prime")
else:
    print("Prime")

7754123
not prime

## prime nos from 2 to n

In [17]:
n = int(input())
j = 2 
while n >= j:
    flag = False
    k = 2
    while k < j :
        if j % k == 0:
            flag = True
            break
        k+=1
    if (not(flag)):
        print(j)
    j+=1

17
2
3
5
7
11
13
17

## Else

In [19]:
for i in range(9):
    print(i)
else :
    print("lmao")

0
1
2
3
4
5
6
7
8
lmao

## "continue" - skip something in loop

In [6]:
for i in range(1,24,1):
    if i == 20:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
21
22
23

In [7]:
n = int(input())
for i in range(1,n+1,1):
    if i % 2 == 0:
        continue            #skip 2 multiple nos
    print(i)

17
1
3
5
7
9
11
13
15
17

In [8]:
n = int(input())
for i in range(1,n+1,1):
    print(i)
    if i % 2 == 0:
        continue            #skip 2 multiple nos
    print(i)

13
1
1
2
3
3
4
5
5
6
7
7
8
9
9
10
11
11
12
13
13

## Pass - skip / revoke the loop

In [10]:
if i <= 3:
    pass
print("hello")

hello

In [11]:
for i in range(5):
    pass
print("Hello end")

Hello end

In [12]:
i=1
while i <= 3:
    i+=1
    pass
print("empty")

empty

## Ex - Binary pattern

In [2]:
n=int(input())                   ## easy though
for i in range(1,n+1):
    for l in range(n+2-2*i,0,-1): ## note this gonna allocate spaces frm 54321 to 1 by dec 1 and stops bef 0 and can print any
        print(1,end="")
    print()
    for j in range (n+1-2*i,0,-1):
        print(0,end="")
    print()

5
11111
0000
111
00
1

## pyramid

In [5]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i):      ## print space start 1 stop i revoke it - butter easy conc
        print(" ",end="")
    for l in range(i,n+1):
        print(l,end="")   
    print()                          ## if not get the hold of code split down from here
for a in range(1,n):
    for s in range(n-1-a,0,-1):
        print(" ",end="")
    for k in range(n-a,n+1):
        print(k,end="")
    print()

4
1234
 234
  34
   4
  34
 234
1234

## Diamond using 'For'

In [25]:
## first half 
n=int(input())
n1=(n//2)+1  ## n1 = 2 + 1 =3
for i in range(1,n1+1):
    for j in range(1,n1-i+1):    ## no that tough understand the 'for loop' flow
        print(" ",end="")
    for j in range(1,2*i):
        print("*",end="")
    print()

5
  *
 ***
*****

In [26]:
n=int(input())
n1=(n//2)+1                ## n1 = 2 + 1 =3
for i in range(1,n1+1):
    for j in range(1,n1-i+1):                   
        print(" ",end="")               ## can grab with ease
    for j in range(1,2*i):
        print("*",end="")
    print()
n2=n-n1                          ## splitting 2nd half
for i in range(n2,0,-1):
    for j in range(1,n1-i+1):
        print(" ",end="")
    for j in range(1,2*i):
        print("*",end="")
    print()

5
  *
 ***
*****
 ***
  *

## pattern

In [27]:
n=int(input())
startvalue=1                                   ## not understood
for i in range(1,n+1):
    for j in range(startvalue,startvalue+n):
        print(j,end=" ")
    print()
    if i==(n+1)//2:
        if n%2!=0:
            startvalue=n*(n-2)+1
        else:
            startvalue=n*(n-1)+1
    elif i>(n+1)//2:
        startvalue=startvalue-2*n
    else:
        startvalue=startvalue+2*n

4
1 2 3 4
9 10 11 12
13 14 15 16
5 6 7 8

## rectangular numbers

In [29]:
n=int(input())
pattern_1=n

for i in range (1,n+1):                          ## didn't catch it
    pattern_3 = n                                  ## has to learn
    for k in range(1,i):
        print(pattern_3,end="")
        pattern_3-=1
    for j in range (1,2*n+2-2*i):
        print(pattern_1,end="")
    pattern_1 -= 1

    for l in range (1,i):
        pattern_3+=1
        print(pattern_3,end="")
    print("")


pattern_1=2

for i in range (n,1,-1):
    pattern_3 = n
    for k in range(1,i):
        print(pattern_3,end="")
        pattern_3-=1
    for j in range (1,2*n+2-2*i):
        print(pattern_1,end="")
    pattern_1+= 1

    for l in range (1,i):
        pattern_3+=1
        print(pattern_3,end="")
    print("")

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [31]:
n=int(input())
pattern_1=n

for i in range (1,n+1):                          ## didn't catch it
    pattern_3 = n                                  ## has to learn
    for k in range(1,i):
        print(pattern_3,end="")
        pattern_3-=1
    for j in range (1,2*n+2-2*i):
        print(pattern_1,end="")
    pattern_1 -= 1

    for l in range (1,i):
        pattern_3+=1
        print(pattern_3,end="")
    print("")

4
4444444
4333334
4322234
4321234

In [30]:
## alter
n = int(input())
for i in range(1,n+1):
    temp = n
    for j in range(1,i):
        print(temp,end="")
        temp = temp -1
    for j in range(1,(2*n) - (2*i) + 2):
        print(n-i+1,end="")
    for j in range(1,i):
        temp = temp+1
        print(temp,end="")
    print()
for i in range(n-1,0,-1):
    temp = n
    for j in range(1,i):
        print(temp,end="")
        temp = temp - 1 
    for j in range(1,(2*n) - (2*i) + 2):
        print(n-i+1,end="")
    for j in range(1,i):
        temp = temp+1
        print(temp,end="")
    print()

4
4444444
4333334
4322234
4321234
4322234
4333334
4444444